* {
    
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
}


header {
    
    padding: 10px;
    background: #f1c40f;
    height: 80px;
    
}

#logo {
    
    margin-top: 15px;
    color: #ecf0f1;
    font-family: monospace;
    
}


body {
        
    background: #f1c40f;
        
}

.open-side {
    
    top: 30px;
    right: 15px;
    position: absolute;
    
}

.mobile-menu {
    
    width: 0%;
    background: #000;
    opacity: .9;
    transition: 0.6s ease-in-out;
    top: 0;
    left: 0;
    z-index: 5;
    transition: 0.7s ease-in-out;
    overflow-x: hidden;
    padding-top: 100px;
    position: fixed;
    text-transform: uppercase;
    height: 100vh;
    
}

nav .mobile-menu li{
    
    padding: 20px 10px;
    text-align: center;
    border-bottom: 1px solid #ecf0f1;
    
}

nav li a {
    
    color: #ecf0f1;
    
}

.main-menu {
    
    display: none;
    text-transform: uppercase;
    
}

.btn-close {
    
    display: block;
    color: #ecf0f1;
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 40px;
    padding: 10px;
    
}


.hero-banner {
    
    height: 300px;
    width: 100%;
    
}

.img1 {
        
    background-image: url(img/dog1.jpg);
/*        background-position: center;*/
    background-size: cover;
    background-repeat: no-repeat;
    transition: .7s ease;
        
}

.img2 {
    
    background-image: url(img/dog2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .7s ease;
    
}


.prev, .next {
    
    z-index: 5;
    position: absolute;
    top: 30%;
    color: white;
    font-size: 40px;
    cursor: pointer;
    margin-top: -22px;
    width: auto;
    
}

.prev {
    
    left: 5px;
    
}


.next {
    
    right: 5px;
    
}

.contact-section {
    
    background: rgb(154, 126, 9, 0.7);
    width: 100%;
    height: 250px;
    text-align: center;
    color: #ecf0f1;
    font-size: 26px;
    padding-top: 20px;
    
}


.contact-section ul{
    
    margin-top: 20px;
    font-size: 18px;
    text-align: justify;
    margin-left: 8%;
    
}

.contact-section .openTimes {
    
    display: block;
    margin-left: 118px;
    
}

footer {
    
    background: #f1c40f;
    padding: 20px 0 0 0;
    
}


.info {
    
    position: absolute;
    left: 15px;
    margin-top: 15px;
    
}

.copyright {
    
    text-align: center;
    margin-top: 80px;
    text-transform: uppercase;
    font-family: monospace;
    
}

/*
*
*  MEDIA QUERIES
*  FOR SCREENS
*  MORE THAN
*  768 PIXELS
*
*/



@media only screen and (min-width: 768px) {
    
  .open-side {
      
    display: none;
      
  }
    
    .main-menu {
        
        display: block;
        right: 30px;
        position: absolute;
        margin-top: -20px;
        
    }
    
    nav .main-menu li {
        
        display: inline;
        margin-left: 10px;
        font-size: 20px;
        padding-bottom: 5px;
        
    }
    
    nav .main-menu li:hover{
        
        border-bottom: 1px solid #f39c12;
        
    }
    
    #logo {
        
        margin-left: 30px;
        
    }
    
    .contact-section h1 {
        
        text-align: center;
        
    }
    
    .contact-section ul{
        
        text-align: justify;
        position: absolute;
        left: 50%;
        transform:  translateX(-50%);
        margin-left: 0;
    }
    
    .contact-section ul li {
        
        padding-top: 5px;
        
    }
        
    
    .info {
        
        padding: 20px;
        float: left;
        
    }
    
    .info ul li{
        
        font-size: 18px;
        padding-top: 10px;
        
    }
    
    .copyright {
        
        margin-left: 50%;
        margin-top: 120px;
        float: left;
        
    }

    
    body {
        
    background: #f1c40f;
        
    }
    
    .hero-banner {
        
        height: 70vh;
        width: 100%;
        
    }
    
    
.img1 {
        
        background-image: url(img/dog1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        transition: .7s ease;
        
}
            
.img2 {
    
    background-image: url(img/dog2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .7s ease;
    
}
    
    .prev, .next {
    
    z-index: 5;
    position: absolute;
    top: 40%;
    color: white;
    font-size: 50px;
    cursor: pointer;
    margin-top: 0px;
    width: auto;
    
}    
    .prev {
        
        left: 15px;
        
    }
    
    .next {
        
        right: 15px;
        
    }
    
}